<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
        <tr>
          <th>Amount</th>
          <th>Method donated</th>
          <th>Donor</th>
          <th>Candidate</th>    <!--Add extra column to hold a candidate-->
        </tr>
        </thead>
        <tbody>
        {{#each donations}}
          <tr>
            <td> {{amount}} </td>
            <td> {{method}} </td>
            <td> {{donor.firstName}} {{donor.lastName}} </td>   <!--display the donor string-->
            <td> {{candidate.lastName}}, {{candidate.firstName}} </td>  <!--display the candidate string-->
          </tr>
        {{/each}}
        </tbody>
        <!--new footer element incorporated for Total-->
        <tfoot>
          <th> {{total}} </th>
          <th> Total </th>
          <th></th>
          <th></th>
        </tfoot>
      </table>
    </article>
  </div>
</section>